<html>
<h2>We offer the following courses of B.Tech:</h2>
<ol style="list-style-type:square;background-color: burlywood;">
  <li>Computer Science And Engineering</li>
  <li>Mechanical Engineering</li>
  <li>Civil Engineering</li>
  <li>Electrical Engineering</li>
  <li>Electronics And Communications Engineering</li>
</ol>
<h2>We offer the following courses of M.Tech:</h2>
<ol style="list-style-type:square;background-color: burlywood;">
  <li>Computer Science And Engineering</li>
  <li>Mechanical Engineering</li>
  <li>Civil Engineering</li>
  <li>Electrical Engineering</li>
  <li>Electronics And Communications Engineering</li>
</ol>
<h2>We offer the following courses of P.Hd:</h2>
<ol style="list-style-type:square;background-color: burlywood; ">
  <li>Computer Science Engineering</li>
  <li>Mechanical Engineering</li>
  <li>Civil Engineering</li>
  <li>Electrical Engineering</li>
  <li>Electronics And Communications Engineering</li>
</ol>
</html>